* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#D9D9D9;

}

/* Bereich für Sandra */








/* Bereich für Oliver */









/* Bereich für Isabelle */
.body.bg-light{
    height: 100vw;
    
}
.headline-line {
    height: 2px;
    background-color: rgb(218, 203, 203);
    width: 100%;
    padding: 1,5px;
    margin: 35px;
    margin-left: auto;
}
.text-danger{
    background-color: rgb(110, 29, 114);    
}

.col{
    padding-bottom: 100px;
    padding: 17px;
    

}
.card:hover{
    transform: scale(2.05);
    transition: transform 0.5s ease-in-out; 
    z-index: 1;
}
.strich-container {
    display: flex; /* Legt die Striche nebeneinander */
    gap: 5mm; /* Abstand von 1 Millimeter zwischen den Strichen */
    align-items: center; /* Richtet die Striche am unteren Rand aus */
    flex-direction: row;
    justify-content: center;
    height: 20px; /* Optional: Genug Platz, damit die Striche sichtbar sind */
  }
  
  .strich {
    width: 1cm; /* Breite jedes Striches: 1 Zentimeter */
    height: 1mm; /* Dicke der Linie */
    border-bottom: 4px solid /* Gestrichelter unterer Rand */
  }
  
  .strich.gray {
    border-color: gray; }
  
  .strich.purple{
    border-color: purple; }

    .strich-container .strich:nth-child(1){
        border-width: 1mm;
        
    }
    







