* 
 
/* Bereich für Sandra */

/* Bereich für Oliver */

/* Bereich für Sandra */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-all {
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body.bg-light {
  height: 100vw;
}

.col {
  padding-bottom: 80px;
  padding: 30px;
}
.card:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.9);
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.strich-container {
  display: flex; /* Legt die Striche nebeneinander */
  gap: 5mm; /* Abstand von 1 Millimeter zwischen den Strichen */
  align-items: center; /* Richtet die Striche am unteren Rand aus */
  flex-direction: row;
  justify-content: center;
  height: 0px; /* Optional: Genug Platz, damit die Striche sichtbar sind */
  padding-right: 53px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.strich-container-eins {
  display: flex; /* Legt die Striche nebeneinander */
  gap: 5mm; /* Abstand von 1 Millimeter zwischen den Strichen */
  align-items: center; /* Richtet die Striche am unteren Rand aus */
  flex-direction: row;
  justify-content: center;
  height: 1px; /* Optional: Genug Platz, damit die Striche sichtbar sind */
}

.strich-container-zwei {
  display: flex; /* Legt die Striche nebeneinander */
  gap: 5mm; /* Abstand von 1 Millimeter zwischen den Strichen */
  align-items: center; /* Richtet die Striche am unteren Rand aus */
  flex-direction: row;
  justify-content: center;
  height: 10px; /* Optional: Genug Platz, damit die Striche sichtbar sind */
  margin-top: -50px;
}

.strich {
  width: 1cm; /* Breite jedes Striches: 1 Zentimeter */
  border-bottom: 1px solid; /* Gestrichelter unterer Rand */
}

.strich.gray {
  border-color: gray;
  height: 0.5mm;
}

.strich.purple {
  border-color: purple;
  border-bottom: 4px solid;
}

.container.py-5 {
  margin: 0 auto;
}

.mb-4 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.col-m-4 {
  padding-bottom: 30px;
  font-size: 1.4rem;
  max-width: 300px;
}

.col-4 {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.section-sandra .headline-line {
  height: 1px;
  background-color: #6c757d;
  width: 99%;
  margin-left: auto;
  margin: 1px;
}
.headline-line {
  height: 1px;
  background-color: #6c757d;
  width: 97%;
  margin: 30px;
  margin-left: 3px;
}

.section-sandra .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: auto;

  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.section-sandra .card-body {
  background-color: rgb(234, 232, 232);
}

.section-sandra .card-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 32px;
  color: #454749;
}

.section-sandra .card-text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  gap: 10px;
  font-size: 1.1rem;
  color: black;
  margin-top: 10px;
}
.card-text strong {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px; /* Abstand unterhalb des durchgestrichenen Preises */
  align-self: flex-end; /* Positioniert den aktuellen Preis unten rechts */
}

.custom-danger {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: rgb(110, 29, 114);
  border-radius: 5px;
  padding: 5px 10px;
  align-self: flex-start;
}

.card-text del {
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  right: 0;
}

.card-text button {
  padding: 7px;
}
.container.my-5 {
  padding-left: 5px;
}

.card-text {
  color: white;
  font-size: 1.2rem;
}
.buttonsn {
  background-color: #c4e63d;
  color: (black);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px 30px;
  border-radius: 10px;
  margin-right: 1140px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  bottom: 120px;
  position: relative;
}

buttonsn:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.card {
  width: 300px;
  height: auto;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.card-img-top {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.carousel-control-prev {
  left: -500px;
  z-index: 1;
}

.news-card .card-img-overlay {
  padding: 10px;
  display: flex;
  align-items: flex-end;
}

.explore-section {
  background: #1a1a1a;
  color: white;
  text-align: start;
}
.explore-section h2 {
  font-size: 3rem;
  padding-left: 265px;
  padding-top: 160px;
  position: absolute;
}
.explore-section p {
  font-size: 1.2rem;
  padding-top: 250px;
  padding-left: 265px;
  position: absolute;
}

.card-img {
  height: 450px;
  object-fit: cover;
  width: 100%;
}

.card-img-celebrate {
  width: 600px; /* Doppelte Breite für das Bild "celebrate" */
  height: 300px;
}

.explore-overlay {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  position: relative;
  margin: 0; /* Entfernt äußere Abstände */
  padding: 0; /* Entfernt innere Abstände */
  background: none; /* Entfernt den Hintergrund */
  height: auto;
}
.explore-overlay img {
  margin: 0;
  padding: 0;
}

.carousel-control-next-icon {
  border-radius: 50%;
  background-color: #34393d;
  position: absolute;
  top: 29%;
  margin-right: 200px;
}

.carousel-control-prev-icon {
  border-radius: 50%;
  background-color: #343749;
  position: absolute;
  top: 29%;
  margin-left: 198px;
}
.carousel-control-next-icon:hover {
  background-color: hsl(297, 26%, 45%);
}

.carousel-control-prev-icon:hover {
  background-color: hsl(297, 26%, 45%);
}

.navbarsandra {
  position: relative;
}
.navbarsandra li a:hover {
  text-shadow: 0 0 8px white;
}

.navbarsandra ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  padding-right: 710px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0px;
  background-color: rgb(43, 40, 40);
}
.navbarsandra li a {
  color: white;
  text-decoration: none;
  padding: 8px;
  font-size: 1rem;
}
.fa-brands {
  color: white;
  background-color: rgb(56, 55, 55);
}
.buttonsandra {
  display: flex;
  gap: 15px;
  position: absolute;
  right: 350px;
  top: 50%;
  transform: translateY(-50%);
}

.buttonsandra button {
  background-color: rgb(56, 55, 55); /* Dunkler Hintergrund */
  color: white; /* Weiße Schriftfarbe */
  font-size: 1.2rem; /* Schriftgröße */
  padding: 0; /* Innenabstand */
  margin: 0;
  border: none; /* Entfernt den Rahmen */
  border-radius: 50%; /* Macht die Buttons rund */
  cursor: pointer; /* Zeigt den Mauszeiger als Hand an */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animation für Hover */
}
.buttonsandra button:hover {
  color: rgb(92, 120, 179);
}

.navbarsandra2 {
  padding: 10px;
  background-color: rgb(56, 55, 55);
}

.navbarsandra2 ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 345px;
}

.navbarsandra2 li a {
  color: rgb(168, 163, 163);
  text-decoration: none;
  padding: 8px;
  font-size: small;
  font-weight: bold;
}
.navbarsandra2 li a:hover {
  color: white;
}

.buttonpurple {
  background: linear-gradient(90deg, #561c75, #9b59b6);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 27px;
  height: 15px;
  line-height: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-left: 201px;
  display: inline-block;
  float: right;
}
.buttonpurple:hover {
  box-shadow: 0 0 10px 3px hsl(298, 100%, 82%);
}
.parent {
  background-color: rgb(43, 40, 40);
  display: flex;
}
.navbarsandra3 li {
  text-align: start;
  margin-right: 20px;
}

.navbarsandra3 ul li a {
  color: rgb(168, 163, 163);
  text-decoration: none;
  font-size: small;
  font-weight: bold;
}

.navbarsandra3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 800px;
}

.navbarsandra3 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 15px;
  list-style: none;
  line-height: 10px;
  padding-left: 255px;
  background-color: rgb(43, 40, 40);
}

.navbarsandra3 li a:hover {
  color: white;
}
.navbarsandrazweieinhalb {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 5px;
}

.card-container {
  display: flex;
  white-space: nowrap; /* Verhindert Zeilenumbruch */
  gap: 20px; /* Abstand zwischen den Karten */
  padding: 10px; /* Innenabstand für den Container */
}

.news-container {
  display: flex; /* Aktiviert Flexbox */
  flex-direction: row; /* Ordnet die Bilder horizontal an */
  justify-content: flex-start; /* Bilder beginnen links */
  align-items: flex-start; /* Bilder werden oben ausgerichtet */
  gap: 27px; /* Abstand zwischen den Bildern */
  margin-top: 60px; /* Abstand zur Linie */
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
  overflow: visible;
  margin-top: 5px;
  margin-bottom: -40px;
}

.news-item {
  position: relative;
  flex: 0 0 auto; /* Verhindert, dass die Bilder ihre Größe ändern */
}
.news-img {
  width: 100%; /* Bild passt sich der Breite des Containers an */
  max-width: 300px;
  height: 300px; /* Einheitliche Höhe für alle Bilder */
  object-fit: cover; /* Schneidet die Bilder passend zu */
}

.celebrate-img {
  max-width: 1200px; /* Doppelte Breite für das Celebrate-Bild */
  max-width: none;
  object-fit: cover;
  height: 300px;
}
.news-text {
  position: absolute; /* Positioniert den Text über dem Bild */
  bottom: 10px; /* Abstand vom unteren Rand des Bildes */
  left: 10px; /* Abstand vom linken Rand des Bildes */
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.text-links {
  text-align: left;
}
.gog {
  background-color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 24px;
  line-height: 21px;
  
  padding: 6px 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 188px;
}
.gog-com {
  color: white;
  font-size: 13px;
  display: block;
  margin: 0;
}
.vogel a {
  color: white;
  padding-left: 1500px;
}
